@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-toastify/dist/ReactToastify.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  font-size: 15px;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.react-select-container {
  border: 0;
  background: transparent !important;
}

.react-select__control {
  border: 0 !important;
  background: #f4f4f5 !important;
  border-radius: 10px !important;
  min-height: 32px !important;
}

.react-select__menu {
  z-index: 9999!important;
}

.react-select__control--is-focused {
  border: 0 !important;
  outline: transparent !important;
  box-shadow: none !important;
}

.react-select__indicator-separator {
  display: none;
}

.title-custom > button {
  padding: 0 !important;
}

section:has(.content-custom) {
  overflow: visible!important;
}
